.texto{
position: absolute;
background: url(texto1.gif);
top: 4%;
left: 15%;
height: 450px;
width: 600px;
display: block;
}
.hi{
position: absolute;
top: 38%;
left: 38%;
width: 200px;
height: 150px;
border: 5px;
padding: 1px;
background-color: #7ADBFD;
color: black;
text-decoration: none;
font-family: "Courier New";
border-radius: 15px;
}
.cuadro{
position: absolute;
background-color: orange;
top: 20%;
left: 18%;
height: 500px;
width: 850px;
}
.chiqui{
position: absolute;
background-color: lightblue;
top: 2%;
left: 18%;
height: 500px;
width: 850px;
}
.animacion{
position: absolute;
background: url(parte1.gif);
top: 4%;
left: 6%;
height: 450px;
width: 750px;
display: block;
}
.estatica{
position: absolute;
background: url(parte11.gif);
top: 4%;
left: 6%;
height: 450px;
width: 750px;
display: block;
}
.anibalon{
position: absolute;
background: url(anibalon.gif);
top: 4%;
left: 6%;
height: 450px;
width: 750px;
display: block;
}
.balon{
position: absolute;
background: url(baloncara.png);
top: 4%;
left: 6%;
height: 400px;
width: 350px;
}
.reloj{
position: absolute;
background: url(reloj.png);
top: 4%;
left: 6%;
height: 200px;
width: 750px;
}
.anireloj{
position: absolute;
background: url(anireloj.gif);
top: 4%;
left: 6%;
height: 450px;
width: 750px;
}
.carro{
position: absolute;
background: url(carro.png);
top: 4%;
left: 6%;
height: 300px;
width: 500px;
}
.anicarro{
position: absolute;
background: url(anicarro.gif);
top: 4%;
left: 6%;
height: 450px;
width: 750px;
}

.volver{
position: absolute;
top: 87%;
left: 1%;
width: 80px;
height: 50px;
border: 1px;
padding: 5px;
background-color: #D5FC7B;
color: black;
text-decoration: none;
font-family: "Courier New";
border-radius: 15px;
}
.next{
position: absolute;
top: 86%;
left: 92%;
background: url(next.png);
background-color: #D5FC7B;
border-radius: 15px;
}
.pagina{
position: absolute;
width: 30px;
height: 35px;
top: 92%;
left: 49%;
}
.letra{
position: absolute;
top: 4%;
color: black;
text-decoration: none;
font-family: "Courier New";
}
.letr{
display: none;
}